In [ ]:
                                                   #list

In [1]:
lst=["Shabbeer",146,48,[1,2,3],64.85]
lst

['Shabbeer', 146, 48, [1, 2, 3], 64.85]

In [2]:
lst[0]

'Shabbeer'

In [3]:
lst.append("basha")

In [4]:
lst

['Shabbeer', 146, 48, [1, 2, 3], 64.85, 'basha']

In [6]:
lst.index(48)

2

In [8]:
lst.pop(5)

'basha'

In [9]:
lst.count(48)

1

In [12]:
lst.remove(48)

In [15]:
lst

['Shabbeer', 146, [1, 2, 3], 64.85]

In [21]:
lst.reverse()

In [22]:
lst

[64.85, [1, 2, 3], 146, 'Shabbeer']

In [23]:
lst.insert(4,"basha")

In [24]:
lst

[64.85, [1, 2, 3], 146, 'Shabbeer', 'basha']

In [25]:
lst2=[1,4,6]

In [26]:
lst.extend(lst2)

In [28]:
lst

[64.85, [1, 2, 3], 146, 'Shabbeer', 'basha', 1, 4, 6]

In [ ]:
                                               #Dictionary

In [29]:
dct={1:"apple",2:"ball",3:[1,4,6],4:"123456"}

In [30]:
dct

{1: 'apple', 2: 'ball', 3: [1, 4, 6], 4: '123456'}

In [31]:
dct.get(1)

'apple'

In [32]:
dct.items()

dict_items([(1, 'apple'), (2, 'ball'), (3, [1, 4, 6]), (4, '123456')])

In [33]:
dct.keys()

dict_keys([1, 2, 3, 4])

In [38]:
dct2={2:"doll"}
dct2

{2: 'doll'}

In [39]:
dct.update(dct2)

In [40]:
dct

{1: 'apple', 2: 'doll', 3: [1, 4, 6], 4: '123456'}

In [42]:
dct.pop(4)

'123456'

In [ ]:
                                                  #Tuple

In [49]:
tup=(10,20.750,"shabbeer","basha")

In [50]:
tup

(10, 20.75, 'shabbeer', 'basha')

In [51]:
tup.count("shabbeer")

1

In [53]:
tup.index("basha")

3

In [ ]:
                                                 #String

In [54]:
My_string="python programming"

In [57]:
My_string

'python programming'

In [59]:
print(My_string[0:18])

python programming

In [60]:
format(My_string)

'python programming'

In [77]:
My_string="python programming"

In [78]:
My_string.upper()

'PYTHON PROGRAMMING'

In [79]:
My_string.lower()

'python programming'

In [80]:
My_string.split()

['python', 'programming']

In [81]:
My_string.find("p")

0

In [82]:
My_string.find("m")

13

In [ ]:
                                                 #Set

In [6]:
set1={"shabbeer","basha","40.85"}

In [7]:
set2={"120","student","76.85"}

In [8]:
set1.union(set2)

{'120', '40.85', '76.85', 'basha', 'shabbeer', 'student'}

In [9]:
set3={"40.85","basha","student","123456789"}

In [11]:
set1.intersection(set3)

{'40.85', 'basha'}

In [12]:
set1.difference(set3)

{'shabbeer'}

In [13]:
set1.pop()

'basha'

In [14]:
set1.add("basha")

In [15]:
set1

{'40.85', 'basha', 'shabbeer'}